.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 1em 3em;
}

.navigation__logo {
  position: absolute;
  top: 1.3rem;
  left: 2.5em;
  width: 50px;
  height: 50px;
  background: url(../img/Logo.svg);
  background-repeat: no-repeat;
}

.collapsible {
  text-align: right;
  label {
  display: block;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1.5em;
  font-size: 1.8rem;
  }
}

#menu {
  display: none;
}

input:checked ~ .navigation__container {
  max-height: 100%;
}

.navigation__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.navigation__buttons {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.navigation__item {
  a {
    display: block;
    text-align: left;
    padding: .5em;
    font-family: $raleway;
    font-size: 1.2rem;
    font-weight: $bold;
    color: $raising-black;
    text-decoration: none;

  &:hover {
    color: $nickel;
    }
  }
}

@media only screen and (min-width: 992px) {
  .navigation__logo {

  }
  .collapsible {
    label {
    display: none;
    }
  }
  .navigation__container {
    max-height: 100%;
    max-width: 100%;
    padding: .5em 3em .5em 0;
    overflow: visible;
  }
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    margin: inherit;
    padding: inherit;
    list-style-type: none;
  }
  .navigation__item {
    a {
      padding: .5em 1em;
      font-size: 1rem;
      font-weight: $regular;
    }
  }
}
